<div class="prolog-demando" id="{{ include.id }}">
    <div class="language-prolog highlighter-rouge demando" contenteditable="true">
{% highlight prolog %}
{{ include.query }}
{% endhighlight %}
    </div>
    <!-- -->
    <div class="respondo">
        <button name="ek">⏵</button>
        <button name="plu" class="kashita">⏵+</button>
        <button name="halt" class="kashita">⏹</button>
        <code data-maks-rspnd="{{ include.n }}"></code>
        <span class="informo"></span>
    </div>
</div>