
.prolog-ekzerco {
    border: 2px dotted cornflowerblue;
    margin: 1em;
    padding: 1em;
}
.demando code::before {
    content: "?-"
}
.respondo code {
  overflow-wrap: break-word;
}
.respondo button {
    margin-right: .5em;
}